:root {
  --cx-manilla: #fff28a;
  --cx-dark-cream: #ffe29b;
  --cx-gray-darkest: #333;
  --cx-white: #fff;

  --c-text: var(--cx-gray-darkest);
  --c-bg: var(--cx-white);
  --c-border: var(--cx-gray-darkest);

  --gap-xl: 100px;
  --gap-l: 70px;
  --gap-m: 50px;
  --gap-s: 30px;
  --gap-xs: 10px;
}