:root {
  --cx-manilla: #FFF278;
  --cx-dark-cream: #ffd635;
  --cx-gray-darkest: #333;
  --cx-white: #fff;
  --cx-barbie-pink: #ff3f89;
  --cx-light-skyblue: #cbfaff;
  --cx-mango: #ffa728;
  --cx-miip-slate: #43475c;

  --c-text: var(--cx-gray-darkest);
  --c-bg: var(--cx-white);
  --c-border: var(--cx-gray-darkest);

  --gap-xl: 100px;
  --gap-l: 70px;
  --gap-m: 50px;
  --gap-s: 30px;
  --gap-xs: 10px;

  --page-item {
    padding: 100px;
  }

  --bp-mobile: 960px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Korean', 'SF Pro KR', 'SF Pro Display', 'SF Pro Icons', 'Apple Gothic', 'HY Gulim', 'MalgunGothic', 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: var(--c-text);
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.the-page {
  padding: 100px;
}

.page-title {
  font: 900 26px 'Raleway';
  margin-bottom: 50px;
}

.project-title {
  font: 900 40px 'Raleway';
}

@media screen and (max-width: 960px) {
  #app {
    width: 100vw;
  }

  .the-page {
    padding: 50px;
  }
  .project-title {
    font-size: 30px;
  }
}