@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../assets/fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(../assets/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../assets/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../assets/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}